# compiled binary
server
nonblocking_server
kevent_server
blocking_server
resp_server
test_client

# object files / build output
*.o
*.out
*.dSYM/

# build directories
build/
cmake-build-*/

# macOS
.DS_Store